// FONT FAMILY
$FONT_SPARTAN: "Spartan", sans-serif;

// FONT SIZES
$TEXT_SIZE: 15px;

// COLORS
$PRIMARY_COLOR: hsl(180, 29%, 50%);
$LIGHT_CYAN: hsl(180, 52%, 96%);
$LIGHT_CYAN_2: hsl(180, 31%, 95%);
$DARK_CYAN: hsl(180, 8%, 52%);
$VERY_DARK_CYAN: hsl(180, 14%, 20%);
