@import "./variables";
@import "./mixins";
@import "./header";

body {

  margin: 0;
  background-color: $LIGHT_CYAN_2;

  * {
    font-family: $FONT_SPARTAN;
  }

  #app {
    margin: 32px 16px;

    @include breakpoint("desktop") {
      margin: 76px 165px;
    }
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
